# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
.pytest_cache

# Apks script folder to scan
submodules/TestCasesScripts/apks/

# Virtual env
submodules/TestCasesScripts/myenv/

# Unit tests
submodules/TestCasesScripts/unit_tests/reference_apk/*.txt
submodules/TestCasesScripts/unit_tests/reference_apk/Bluetooth/*.txt
submodules/TestCasesScripts/unit_tests/reference_apk/Bluetooth/base
submodules/TestCasesScripts/unit_tests/reference_apk/Bluetooth/decompiled
submodules/TestCasesScripts/unit_tests/reference_apk/Bluetooth/{}
