# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
.pytest_cache

# Apks to scan
apks/

# Results
Results/
# Virtual env
myenv/

# Unit tests

unit_tests/reference_apk/*.txt
unit_tests/reference_apk/Bluetooth/*.txt
unit_tests/reference_apk/Bluetooth/base
unit_tests/reference_apk/Bluetooth/decompiled
unit_tests/reference_apk/Bluetooth/{}
